.background {
    z-index: -3;
    height: 100vh;
    width: 100vh;
    background-size: contain;
    animation-name: skeleton;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count:infinite;
}

@keyframes skeleton{
	0% {
		background-image: url(main1.jpg);
	}
    10%{
        background-image: url(main2.jpg);
    }
    20%{
        background-image: url(main3.jpg);
    }
    30%{
        background-image: url(main4.jpg);
    }
    40%{
        background-image: url(main5.jpg);
    }
    50%{
        background-image: url(main6.jpg);
    }
    60%{
        background-image: url(main7.jpg);
    }
    70%{
        background-image: url(main8.jpg);
    }
    80%{
        background-image: url(main9.jpg);
    }
	90% {
        background-image: url(main10.jpg);
	}
	100% {
        background-image: url(main11.jpg);
	}
}