.life_box {
    height: 100%;
    width: 100%;
}

.button_stroke {
    width: 120px;
    height: 40px;
    background: var(--accent);
    border-radius: 30px;
    /* background-color: #FFD1DC; */
    text-align: center;
    
  }

  .button_stroke:hover {
    cursor: pointer;
}

  .buttonText{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .buttonlayout{
    position: absolute;

  }

  .master{
    position: relative;
    height: 100%;
    width: 100%;
  }