.life_box {
    position: relative;
    align-content: center;
    height: 50%;
    width: 50%;
    bottom: 50%;
}

.button_stroke {
    width: 120px;
    height: 40px;
    background: var(--accent);
    border-radius: 30px;
    /* background-color: #FFD1DC; */
    text-align: center;
    
  }
  .buttonDiv1{
    position: relative;
    
    
  }

  .buttonText{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .buttonlayout{
    position: absolute;

  }

  .master{
    position: relative;
  }