.foreground{
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: black;
}

.julia_box{
    margin : auto;
    touch-action: none;
        
    margin : auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wavy { 
    position: relative; 
    text-align: center;
} 

.wavy span { 
    position: relative; 
    display: inline-block; 
    color: #fff; 
    font-size: 3em; 
    text-transform: uppercase; 
    animation: animate 2s ease-in-out infinite; 
    animation-delay: calc(0.1s * var(--i)); 

} 

@keyframes animate { 
    0% { 
        transform: translateY(0px); 
    } 

    20% { 
        transform: translateY(-20px); 
    } 

    40%, 
    100% { 
        transform: translateY(0px); 
    } 
} 