
@keyframes glow{
    /* 50% {
        filter: sepia(70%) saturate(300%) brightness(100%) hue-rotate(180deg);
        padding: 1px 0 1px 1px;
        margin: 2px 1px 3px 0;
        box-shadow: 0 0 .5px rgb(255, 255, 255);
        
    } */

    100% {
        filter: sepia(70%) saturate(300%) brightness(100%) hue-rotate(180deg);
        
    }
}

@keyframes shutter{
    50%{
        padding: 4px 0 4px 4px;
        margin: 2px 1px 3px 0;
        box-shadow: 0 0 4px rgb(255, 255, 255);
    }
    100%{
        padding: 0px 0 0px 0px;
        margin: 2px 1px 3px 0;
        box-shadow: 0 0 0px rgb(255, 255, 255);
    }
}


.pathFill {
    animation-name: glow, shutter;
    animation-duration: 1.8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count:infinite;
    background: bisque
}

.button_stroke {
    animation-name: glow, shutter;
    animation-duration: 1.8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count:infinite;
    margin-right: 1px;
    width: 120px;
    height: 40px;
    background: var(--accent);
    border-radius: 30px;
    /* background-color: #FFD1DC; */
    text-align: center;
    
}

.bigBangButt {
    animation-name: shutter;
    animation-duration: 1.7s;
    animation-timing-function: ease-in-out;
    animation-iteration-count:infinite;
    width: 120px;
    height: 40px;
    margin-right : 7px;
    /* background-color: #FFD1DC; */
    text-align: center;
    border-radius: 10px;
    /* border-radius: 50px;
    box-shadow: grey; */
}

.buttonText{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #ffffff;
    -webkit-text-stroke-width: .9px;
    -webkit-text-stroke-color: black;

}


.seedButtonLayout {
    width: 180px;
    height: 100px;
    margin-right : 7px;
    /* background-color: #FFD1DC; */
    text-align: center;
    background-color: #C3B1E1;
    border-radius: 10px;
    animation-name: shutter;
    animation-duration: 1.8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count:infinite;
    
}


.seedInputButton{
    width: 70px;
    height: 50px;
    color: #ffffff;
    margin-left: 4px;
    animation-name: glow;
    animation-duration: 1.8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count:infinite;
    border-radius: 10px;
    text-align: center;
    position: relative;
    background-color: #FFFAA0;
}

.seedInputArea{
    margin-left: 4px;
    width : 120px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    position: relative;
}


.paramNavBar {
    filter: drop-shadow(1px 1px 1px #4700b3);
    width: 300px;
    background-color: #cab69e;
  }

  .navul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: whitesmoke;
  }
  
  .navli {
    color: #C3B1E1;
    display: block;
  }
  
  .navul,
  .navli {
    list-style: none;
    margin: 0;
    padding: 10px;
  }
  