.buttonlayout{
    position: inherit;
    /* float: right;  */
    width: 50%;
    height: 100px;
    margin : auto;

    display: flex;
    /* margin-left: 10px; */


}

.life_box{
    width: 50%;
    margin : auto;
}

.foreground{

    height: 120vh;
    width: 100vw;
    position: relative;
    background-color: black;

}
/* .background {
    position:absolute;
} */


@media (min-width: 701px) {
    .title{
        word-break:break-word;
        color: #e9e5e5;
        font-size: 4vh;
        text-align: center;
        opacity: 1 ;
        pointer-events: none;
        user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        text-shadow: 5px 5px rgb(126, 123, 123);
        border-right: 7px solid #ffffff;
        animation: cursor 1s infinite step-end, typing 4.6s infinite steps(41);
        white-space: nowrap;
        overflow: hidden;
        margin: auto;
        
        
    }

  }
  
  @media (max-width: 700px) {
    .title{
        word-break:break-word;
        color: #e9e5e5;
        font-size: 2vh;
        text-align: center;
        opacity: 1 ;
        pointer-events: none;
        user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        text-shadow: 5px 5px rgb(126, 123, 123);
        border-right: 7px solid #ffffff;
        animation: cursor 1s infinite step-end, typing 4.6s infinite steps(41);
        white-space: nowrap;
        overflow: hidden;
        margin : auto;
        
        
    }



  }


@keyframes cursor{
    0%, 100%{border-color: transparent;}
    50%{border-color: #ffffff;}
}
@keyframes typing{
    0%{ width: 0ch} /*Text is hidden*/
    25%{ width: 10ch;} /*The enitre header will be typed out*/
    50%{ width: 20ch;} /*Text stays visible*/
    75%{ width: 30ch;} /*Text stays hidden*/
    100%{ width: 41ch;} /*Text stays hidden*/
  }